.book-box {
  border: 2px solid #ccc;
  border-radius: 12px;
  width: 200px;
  padding: 15px;
  margin: 20px;
  text-align: center;
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.book-box:hover {
  transform: scale(1.05);
}

.book-box img {
  border-radius: 8px;
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
}

.btn:hover {
  background-color: #0056b3;
}

span {
  font-size: 18px;
  font-weight: bold;
}
